@import url('https://fonts.googleapis.com/css?family=Montserrat:400, 600, 700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #BE68CC;
}

/* general grid */
.wrapper {
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
    width: 100vw;
}

/* sidebar */
.sidebar {
    height: 70px;
    background: #FFF;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
}

.sidebar ul li {
    font-weight: 600;
}

/* content */
.content {
    background: #BE68CC;
    padding: 3rem 0 3rem 0;  
    text-align: center;   
}

.content .profile {
    box-shadow: 9px 10px 13px -8px rgba(0,0,0,0.75);
    border-radius: 100%;
    width: 100px;
    height: 97px;
}

.content h2 {
    padding-top: .8rem;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
}

.content p {
    color: #fff;
    line-height: 1.4rem;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.button {
    background: #6080D3;
    padding: .7rem 3rem .7rem 3rem;
    border-radius: 40px;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    box-shadow: 9px 10px 13px -8px rgba(0,0,0,0.75);
}

/* footer */
.footer {
    margin-top: .5rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 0 1rem 0;
    background: #FFF;
    padding-top: 1.5rem;
}

footer ul li {
    font-weight: 600;
}

/* media queries para resoluciones */

@media (min-width: 1040px) {
    .wrapper {
        background: #E4DEE5;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "sidebar content"
        "sidebar footer" 
    }

    .sidebar ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        padding-top: 8rem;
    }

    .sidebar ul li {
        padding-bottom: 3rem;
        color: #fff;
    }

    .sidebar {
        grid-area: sidebar;
        height: 100%;
        background:  linear-gradient(180deg, #E238A8 0%, rgba(139, 55, 180, 0.618613) 63.34%, rgba(120, 55, 183, 0.535435) 77.16%, rgba(89, 55, 187, 0.401042) 99.48%, rgba(55, 52, 203, 0) 100%);    
    }
    
    .content {
        padding: 4rem;
        max-width: 960px;
        background: #E4DEE5;
    }

    .hero {
        text-align: left;
        margin: 2em auto;
    }
    
    .content h2 {
        font-size: 3rem;
        color: black;
        font-weight: 800;
    }

    .content p {
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: black;
    }

    .content .profile {
        box-shadow: none;
        margin-right: 6rem;
        float: right;
        width: 300px;
        height: 305px;
    }

  
    
    footer {
        width: 100%;
        background: #fff;
    }

    footer ul {
        margin-left: 20%;
    }

    footer ul li:nth-child(2) {
        margin-right: 80%;
    }


}